/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
body{
  font-family: monospace;
}
.section {
  border: 5px solid white;
  height: 250px;
  color: black;
  position: relative;
  background-color: grey;
}
.section p {
  position: absolute;
  top: 10px;
  padding: 15px;
  font-size: 1.25em;
}
.section-titolo-y {
  top: 0px;
  right: 0px;  
  position: absolute;
  background-color: yellow;
  color: black;
  width: 100px;
  text-align: center;
  padding-right: 0px;
  font-size: 1.25em;
}

.section-titolo-o {
  top: 0px;
  right: 0px;  
  position: absolute;
  background-color: orange;
  color: black;
  width: 100px;
  text-align: center;
  padding-right: 0px;
  font-size: 1.25em;
}

.section-titolo-r {
  top: 0px;
  right: 0px;  
  position: absolute;
  background-color: red;
  color: black;
  width: 100px;
  text-align: center;
  padding-right: 0px;
  font-size: 1.25em;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 1px solid green;
  }
  .col-sm-12 {
    width: 100%;
  }
}